<div class="checkout-4-container">
  <div class="header">
    <div class="logo">
      <img src="assets/images/onet-logo.png" alt="logo" />
      <h4>Checkout</h4>
    </div>
    <div class="contacts">
      <div class="number-to-call">
        <img src="assets/images/checkout-utiles/call.svg" alt="call" />
        <div>
          <h4>Have problems?</h4>
          <h3>+242 06 908 3535</h3>
        </div>
      </div>
      <div class="secure-payment">
        <img src="assets/images/checkout-utiles/secure.svg" alt="call" />

        <h3>Secure payment</h3>
      </div>
      <div class="easy-returns">
        <img src="assets/images/checkout-utiles/return.svg" alt="call" />

        <h3>easy returns</h3>
      </div>
    </div>
  </div>
  <div class="order-checkout">
    <div class="form-order">
      <div class="step-1">
        <h2>
          <img src="assets/images/checkout-utiles/sideicon.svg" alt="icon" /> 1:
          contact
        </h2>
        <div class="step-one-done">
          <p>Franck Libam, +243 336 364 833, franck@gmail.com</p>
          <button>edith info</button>
        </div>
      </div>
      <div class="step-2">
        <h2 class="step2-heading">
          <img src="assets/images/checkout-utiles/sideicon.svg" alt="icon" /> 2.
          Address and delivery
        </h2>
        <div class="step-two-done">
          <p>
            Pickup station, Point Relais Chronotys - Biyem-Assi, Descente
            Tam-Tam à côté d’Express Union
          </p>
          <button>edith info</button>
        </div>
      </div>
      <div class="step-3">
        <h4>3. Payment</h4>

        <div class="cash-on-delivery">
          <div class="radio-activate">
            <input
              type="radio"
              id="cash-on-delivery"
              value="cash-on-delivery"
              name="step-3"
              [checked]="cashOnDelivery"
            /><label for="cash-on-delivery" (click)="activateCashOnDelivery()"
              >cash on delivery</label
            >
          </div>
          <div class="info" *ngIf="cashOnDelivery">
            <p>Pay cash on delivery</p>
            <ol>
              <li>
                In cash, be sure to have the exact amount. Our delivery agents
                are not provided with change.
              </li>
              <li>
                By transferring through MTN Mobile Money from the exact amount
                of the order to the phone number indicated by the agent during
                delivery.
              </li>
            </ol>
            <button>Confirm order</button>
          </div>
        </div>
        <div class="mobile-money">
          <div class="radio-activate">
            <input
              type="radio"
              id="mobile-money"
              value="mobile-money"
              name="step-3"
              [checked]="mobileMoney"
            /><label for="mobile-money" (click)="activateMobileMoney()">
              <img
                src="assets/images/checkout-utiles/image 3.png"
                alt="mobile-money"
              />
              mobile money</label
            >
          </div>

          <div class="info" *ngIf="mobileMoney">
            <p>Steps to proceed with your payment are as follow:</p>
            <ol>
              <li>
                Fill in below your MTN mobile phone number. Please don't forget
                to add the country code number 237 (example: 237678145656)
              </li>
              <li>Confirm your order by clicking on "complete your order"</li>
              <li>
                You will receive a request on your phone, please confirm the
                payment by dialing *126*1# and enter your MTN Mobile Money
                secret PIN on your device.
              </li>
              <li>
                If your payment is successful you will be redirected to the
                confirmation page and be given your order number.
              </li>
            </ol>
            <div class="mobile-money-number">
              <label for="mobile-money-number">mobile money number</label>
              <input type="tell" id="mobile-money-number" />
            </div>
            <button>Confirm order</button>
          </div>
        </div>
      </div>
    </div>
    <div class="order-list">
      <div class="order-list-header">
        <h3>Order summary</h3>
        <button>Edit order</button>
      </div>

      <!-- order item -->
      <div class="order-item">
        <div class="order-image">
          <img src="assets/images/checkout-utiles/image2.png" alt="" />
        </div>
        <div class="order-item-description">
          <h4>
            Apple iPhone 6 64GB HDD - 12 Months + Cover + Screen Protector
            Offered
          </h4>
          <div class="price-and-total">
            <p class="order-quantity">1 <span>psc</span></p>
            <p class="order-price">1159,900 <span>FCFA </span></p>
          </div>
        </div>
      </div>
      <div class="order-item">
        <div class="order-image">
          <img src="assets/images/checkout-utiles/image2.png" alt="" />
        </div>
        <div class="order-item-description">
          <h4>
            Apple iPhone 6 64GB HDD - 12 Months + Cover + Screen Protector
            Offered
          </h4>
          <div class="price-and-total">
            <p class="order-quantity">1 <span>psc</span></p>
            <p class="order-price">1159,900 <span>FCFA </span></p>
          </div>
        </div>
      </div>
      <div class="total">
        <h4>total:</h4>
        <p>359,800 FCFA</p>
      </div>
    </div>
  </div>
</div>
