.cart-modal-container {
    // display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    .cart-modal {
        display: flex;
        background-color: #fefefe;
        margin: auto;
        padding: 20px 0 20px 17px;
        border: 1px solid #888;
        width: 53%;
    }
    .cart-modal1 {
        display: flex;
        justify-content: flex-end;
        background-color: #fefefe;
        margin: auto;
        padding: 20px 0 20px 17px;
        border: 1px solid #888;
        width: 53%;
    }
    .cart-img {
        background-image: url('./../../images/cart.png');
        background-repeat: no-repeat;
        width: 78px;
        height: 92px;
        border: 1px solid #DCDCE4;
        box-sizing: border-box;
        margin: 0px 5px 0px 0px;
    }
    .cart-infos {
        margin: 5px 100px 0 11px;
        width: 198px;
    }
    .cart-name {
        font-size: 13px;
        font-weight: bold;
    }
    .cart-price {
        font-size: 12px;
        font-weight: bold;
        margin: 6px 0 0 12px;
    }
    .price-cart {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */
        text-align: right;
        /* Brand red */
        color: #ED1C24;
    }
    .remove-card {
        font-size: 13px;
        margin: 6px 0 0 0;
        font-family: Sarabun;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        color: #ED1C24;
    }
    .value-button {
        display: inline-block;
        border: 1px solid #ddd;
        margin: 0px;
        width: 40px;
        height: 20px;
        text-align: center;
        vertical-align: middle;
        padding-bottom: 6px;
        color: #ddd;
    }
    .input-decrease-increase {
        border: 1px solid #ddd;
        margin-bottom: 62px;
        margin-left: -2px;
        margin-right: 79px;
    }
    .inputed {
        padding-left: 23px;
        width: 29px;
        height: 21px;
        margin-right: 4px;
        padding-bottom: 3px;
        padding-top: 2px;
        border: solid 1px #ddd;
    }
    form #decrease {
        margin: 0px 0px 0px 0px
    }
    form #increase {
        margin-left: -4px;
    }
    .value-button:hover {
        cursor: pointer;
    }
}