* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checkout-4-container {
  background: #ffffff;

  .header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08),
      0px 4px 4px rgba(48, 48, 60, 0.12);
    padding: 10px 40px;
    .logo,
    .contacts {
      display: flex;
    }
    .logo {
      align-items: center;

      h4 {
        font-size: 20px;
        margin-left: 10px;
      }
    }
    .contacts {
      width: 35%;
      justify-content: space-between;
    }

    .number-to-call,
    .secure-payment,
    .easy-returns {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 14px;
        margin: 0 7px;
        font-weight: 501;
        color: #30303c;
      }
      img {
        width: 20px;
      }
    }
    .number-to-call {
      text-align: center;
      h4 {
        color: #717175;
        font-weight: 500;
        font-size: 14px;
      }
    }

    .easy-returns >,
    .secure-payment {
      display: flex;
    }
  }

  .order-checkout {
    display: flex;
    justify-content: space-between;
    padding: 40px;

    .form-order {
      width: 35%;

      h2 {
        color: #14cb04;
        margin-bottom: 10px;
      }
      .step-one-done,
      .step-two-done {
        display: flex;
        margin-left: 20px;
        font-size: 15px;
        button {
          border: none;
          background-color: #fff;
          color: #ed1c24;
          margin-left: 10px;
          border-bottom: 1px solid #dcdce4;
        }
        p {
          font-size: 12px;
        }
      }
      .step-2 {
        padding-top: 10px;
        h2 {
          font-size: 20px;
        }
      }
    }
  }

  .order-list {
    padding: 20px;
    margin-right: 40px;
    box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08),
      0px 2px 2px rgba(48, 48, 60, 0.12);
    height: fit-content;
    .order-list-header {
      display: flex;
      justify-content: space-between;

      h3 {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 1;
      }
      button {
        padding: 5px 10px;
        color: #ed1c24;
        border: none;
        font-size: 15px;
        background-color: #fff;
        border-bottom: 1px solid #dcdce4;
        box-shadow: 1px 2px 2px #dcdce4;
      }
    }

    .order-item {
      display: flex;
      // padding: 20px;
      border-bottom: 1px solid #dcdce4;
      padding-bottom: 10px;

      h4 {
        font-weight: 500;
      }

      img {
        margin-right: 20px;
        border: 1px solid #dcdce4;
        padding: 2px;
      }
    }
  }
  .price-and-total {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;

    .order-price {
      color: #ed1c24;
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    h4 {
      text-transform: capitalize;
      font-size: 20px;
    }

    p {
      color: #ed1c24;
      font-weight: 600;
    }
  }
  .step-3 {
    margin-left: 20px;
    padding-top: 20px;


    .radio-activate{
      display: flex;
      align-items: center;
      padding: 10px 20px;
      input:checked{
          color: #ed1c24;
      }
      label {
        display: flex;
        align-items: center;
        margin-left: 10px;
        font-size: 15px;
        text-transform: capitalize;
        font-weight: 600;

        img{
            width: 20px;
            margin-right: 5px;
        }
      }
    }
    .cash-on-delivery{
      .info{
        margin-left: 40px;
        font-size: 12px;

        ol{
            margin-left: 20px;
            li{
                padding: 2px;
                letter-spacing: 1;
            }
        }

        button{
          float: right;
          padding: 10px 25px;
          color: #fff;
          background-color: #ed1c24;
          border: none;
        }
    }
    }
    .mobile-money{

        .info{
            margin-left: 40px;
            font-size: 12px;

            ol{
                margin-left: 20px;
                li{
                    padding: 2px;
                    letter-spacing: 1;
                }
            }

            button{
              float: right;
              padding: 10px 25px;
              color: #fff;
              background-color: #ed1c24;
              border: none;
              margin-top: -35px;
            }
        }

        .mobile-money-number{
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 3px;

            label{
                font-weight: bold;
            }
            input{
                padding:3px;
            }
        }
    }
  }
}
