* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checkout-3-container {
  background: #ffffff;

  .header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08),
      0px 4px 4px rgba(48, 48, 60, 0.12);
    padding: 10px 40px;
    .logo,
    .contacts {
      display: flex;
    }
    .logo {
      align-items: center;

      h4 {
        font-size: 20px;
        margin-left: 10px;
      }
    }
    .contacts {
      width: 35%;
      justify-content: space-between;
    }

    .number-to-call,
    .secure-payment,
    .easy-returns {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 14px;
        margin: 0 7px;
        font-weight: 501;
        color: #30303c;
      }
      img {
        width: 20px;
      }
    }
    .number-to-call {
      text-align: center;
      h4 {
        color: #717175;
        font-weight: 500;
        font-size: 14px;
      }
    }

    .easy-returns >,
    .secure-payment {
      display: flex;
    }
  }

  .order-checkout {
    display: flex;
    justify-content: space-between;
    padding: 40px;

    .form-order {
      width: 35%;

      h2 {
        color: #14cb04;
        margin-bottom: 10px;
      }
      .step-one-done {
        display: flex;
        margin-left: 20px;
        font-size: 15px;
        button {
          border: none;
          background-color: #fff;
          color: #ed1c24;
          margin-left: 10px;
          border-bottom: 1px solid #dcdce4;
        }
      }
      .step2-heading {
        padding: 40px 0 20px 20px;
        font-size: 20px;
      }
      h6 {
        padding: 0 20px;
        font-size: 13px;
        margin-bottom: 10px;
      }
      .standard-delivery {
        padding-left: 20px;
        display: flex;
        align-items: center;
        img {
          width: 12px;
          margin-right: 10px;
        }
      }
      .delivery-date {
        padding-left: 40px;
        margin-top: 8px;
      }
      .amount {
        color: #ed1c24;
        letter-spacing: 1;
        padding-left: 40px;
      }

      .state-region {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 0 40px;

        .state,
        .region {
          display: flex;
          flex-direction: column;
          width: 47%;
          label {
            text-transform: capitalize;
            margin-bottom: 10px;
          }
          select {
            padding: 6px;
            border: 1px solid #dcdce4;
            color: #dcdce4;
          }
        }
      }
      .address {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 20px 0 0 40px;
        label {
          margin-bottom: 10px;
          text-transform: capitalize;
        }

        textarea {
          border: 1px solid #dcdce4;
          margin-right: 40px;
        }
      }

      .next-step-btn {
        float: right;
        margin-top: 10px;
        padding: 10px 25px;
        border: none;
        color: #fff;
        background-color: #f4a5a8;
        font-size: 15px;
      }
    }
  }
  .next-step-div {
    margin: 0 0 40px 80px;
  }

  .order-list {
    padding: 20px;
    margin-right: 40px;
    box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08),
      0px 2px 2px rgba(48, 48, 60, 0.12);
    height: fit-content;
    .order-list-header {
      display: flex;
      justify-content: space-between;

      h3 {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 1;
      }
      button {
        padding: 5px 10px;
        color: #ed1c24;
        border: none;
        font-size: 15px;
        background-color: #fff;
        border-bottom: 1px solid #dcdce4;
        box-shadow: 1px 2px 2px #dcdce4;
      }
    }

    .order-item {
      display: flex;
      // padding: 20px;
      border-bottom: 1px solid #dcdce4;
      padding-bottom: 10px;

      h4 {
        font-weight: 500;
      }

      img {
        margin-right: 20px;
        border: 1px solid #dcdce4;
        padding: 2px;
      }
    }
  }
  .price-and-total {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;

    .order-price {
      color: #ed1c24;
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    h4 {
      text-transform: capitalize;
      font-size: 20px;
    }

    p {
      color: #ed1c24;
      font-weight: 600;
    }
  }
  .next-step {
    margin: 40px 0 0 40px;

    h4 {
      margin-top: 20px;
    }
  }
}
