* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checkout-2-container {
  background: #ffffff;

  .header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08),
      0px 4px 4px rgba(48, 48, 60, 0.12);
    padding: 10px 40px;
    .logo,
    .contacts {
      display: flex;
    }
    .logo {
      align-items: center;

      h4 {
        font-size: 20px;
        margin-left: 10px;
      }
    }
    .contacts {
      width: 35%;
      justify-content: space-between;
    }

    .number-to-call,
    .secure-payment,
    .easy-returns {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 14px;
        margin: 0 7px;
        font-weight: 501;
        color: #30303c;
      }
      img {
        width: 20px;
      }
    }
    .number-to-call {
      text-align: center;
      h4 {
        color: #717175;
        font-weight: 500;
        font-size: 14px;
      }
    }

    .easy-returns >,
    .secure-payment {
      display: flex;
    }
  }

  .order-checkout {
    display: flex;
    justify-content: space-between;
    padding: 40px;

    .form-order {
      width: 35%;

      .checkout-signup-container {
        h2 {
          font-weight: 400;
          font-size: 25px;
        }

        .costumer-type-btn {
          display: flex;
          margin-top: 20px;

          button {
            padding: 5px 10px;
            background: #f5f5fa;
            border: none;
            border-radius: 50px;
            font-size: 15px;
          }

          :first-child {
            color: #ed1c24;
            margin-right: 40px;
          }
        }
      }
    }
  }
  .checkout-signup-form {
    margin-top: 10px;
    form {
      .email,
      .password {
        display: flex;
        flex-direction: column;

        label {
          text-transform: capitalize;
          margin-bottom: 10px;
        }

        input {
          padding: 5px;
          margin-bottom: 10px;
        }
      }

      .login-forgotPassword {
        margin-top: 10px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        button {
          border: none;
          width: 45%;
        }
        .login {
          padding: 10px 30px;
          margin-right: 20px;
          font-size: 17px;
          text-transform: capitalize;
          font-weight: 400;
          color: #ffffff;
          background-color: #ed1c24;
        }
        .forgot-password {
          background-color: #fff;
          border-bottom: 1px solid #dcdce4;
          color: #ed1c24;
        }
      }
      .facebook-btn {
        width: 100%;
        padding: 10px 30px;
        background-color: #3b5998;
        font-size: 18px;
        color: #fff;
        border: none;
        margin-top: 20px;
      }
    }
  }

  .order-list {
    padding: 20px;
    margin-right: 40px;
    box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08),
      0px 2px 2px rgba(48, 48, 60, 0.12);
    height: fit-content;
    .order-list-header {
      display: flex;
      justify-content: space-between;

      h3 {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 1;
      }
      button {
        padding: 5px 10px;
        color: #ed1c24;
        border: none;
        font-size: 15px;
        background-color: #fff;
        border-bottom: 1px solid #dcdce4;
        box-shadow: 1px 2px 2px #dcdce4;
      }
    }

    .order-item {
      display: flex;
      padding-top: 20px;
      border-bottom: 1px solid #DCDCE4;
      padding-bottom: 10px;

      h4 {
        font-weight: 500;
      }

      img {
        margin-right: 20px;
        border: 1px solid #dcdce4;
        padding: 2px;
      }
    }
  }
  .price-and-total {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;

    .order-price {
      color: #ed1c24;
    }
  }
  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    h4 {
      text-transform: capitalize;
      font-size: 20px;
    }

    p {
      color: #ed1c24;
      font-weight: 600;
    }
  }
  .next-step {
    margin: 40px 0 0 40px;

    h4 {
      margin-top: 20px;
    }
  }
}
