.home-container {
    padding: 0 $global-padding 0 $global-padding;
    .banner {
        display: flex;
        justify-content: space-between;
    }
    .home-catalog {
        width: 25%;
        background: #FFFFFF;
        border: $global-border;
        box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08), 0px 2px 2px rgba(48, 48, 60, 0.12);
        height: $home-hero-height;
    }
    .items {
        height: 47%;
        border-bottom: $global-border;
        padding: 4% 4% 8% 4%;
        display: flex;
        flex-direction: column;
    }
    .items-item {
        display: flex;
        margin: 2%;
    }
    .item-logo {
        margin: 2px 4% 0 0;
    }
    .item-text a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #30303C;
        text-decoration: none;
    }
    .arrivals {
        height: 30%;
        padding: 2% 4% 2% 4%;
        display: flex;
        flex-direction: column;
    }
    .arrivals-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #A0A0B0;
        margin: 2%;
    }
    .arrivals-item {
        display: flex;
        margin: 2%;
    }
    .arrival-logo {
        margin: 2px 4% 0 0;
    }
    .arrival-text a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #30303C;
        text-decoration: none;
    }
    .hero {
        width: 51%;
        background: url('../../images/hero.png');
        height: 337px;
        background-size: 100%;
        margin-top: 15px;
    }
    .info {
        width: 20%;
        background: #FFFFFF;
        border: 1px solid #E9E9F0;
        box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08), 0px 2px 2px rgba(48, 48, 60, 0.12);
        height: 321px;
        margin-top: 15px;
        padding-top: 1%;
    }
    .info-top {
        height: 50%;
        border-bottom: $global-border;
        padding-left: 4%;
    }
    .about {
        display: flex;
        margin: 4%;
        width: 85%;
        justify-content: space-between;
    }
    .info-logo {
        margin: 12px 0 0 0;
        width: 10%;
    }
    .info-text {
        display: flex;
        flex-direction: column;
        width: 83%;
    }
    .text-name {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #A0A0B0;
    }
    .text-value a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #30303C;
        text-decoration: none;
    }
    .info-bottom {
        display: flex;
        flex-direction: column;
        height: 45%;
        padding: 4% 4% 0 8%;
    }
    .article-title {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #A0A0B0;
        margin-bottom: 5px;
    }
    .article-content {
        display: flex;
        justify-content: space-between;
    }
    .article-image {
        width: 30%;
    }
    .article-text {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .article-text-content a {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #30303C;
        margin-right: 15%;
        text-decoration: none;
    }
    .article-text-date {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #A0A0B0;
    }
    .brand {
        background: #FFFFFF;
        border: 1px solid #E9E9F0;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08), 0px 2px 2px rgba(48, 48, 60, 0.12);
        border-radius: 3px;
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
        padding: 2% 0 2% 2%;
        margin-top: 15px;
    }
    .brand-item {
        width: 10%;
        padding-right: 2%;
    }
    .bordered {
        border-right: $global-border;
    }
    .products {
        display: flex;
        justify-content: space-between;
    }
    .product {
        width: 18%;
    }
    .best-sellers {
        margin-top: 45px;
    }
    .best-sellers-text {
        display: flex;
        justify-content: space-between;
    }
    .best-sellers-title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #30303C;
        margin: 15px 0 15px 0;
    }
    .best-sellers-link a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $primary-color;
        text-decoration-color: #DCDCE4;
        text-decoration-style: solid;
    }
    .banner-place {
        height: 85px;
        background: #E9E9F0;
        font-style: normal;
        font-weight: bold;
        font-size: 31px;
        line-height: 36px;
        color: #7A7A8D;
        margin-top: 25px;
        padding: 3% 0 0% 45%;
    }
    .search-banner {
        background: url('../../images/search-banner.png') no-repeat;
        background-size: 100%;
        height: 42px;
        margin-top: 25px;
        display: flex;
        justify-content: flex-end;
        padding: 2%;
    }
    .search-banner input {
        background: #F5F5FA;
        border-radius: 3px;
        width: 40%;
        height: 41px;
        border: none;
    }
    .search-banner button {
        background: #ED1C24;
        border-radius: 3px;
        width: 15%;
        margin-left: 4%;
        border: none;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }
    .tips {
        background: #FFFFFF;
        border: 1px solid #E9E9F0;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08), 0px 2px 2px rgba(48, 48, 60, 0.12);
        border-radius: 3px;
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
        padding: 2% 0 2% 2%;
        margin-top: 25px;
    }
    .tips-tex {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }
    .seo {
        margin: 25px 0 25px 0;
    }
    .seo-title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #30303C;
        margin-bottom: 2%;
    }
    .seo-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #7A7A8D;
        text-align: justify;
    }
}