.product-detail-container {
    padding: 4% $global-padding 4% $global-padding;
    display: flex;
    flex-direction: column;
    .starOn {
        background: url('../../images/Vector2.png');
        width: 25.16px;
        height: 24px;
    }
    .starOff {
        background: url('../../images/Vector1.png');
        width: 25.16px;
        height: 24px;
    }
    .circle {
        background: url("../../images/Ellipse.svg");
        width: 6px;
        height: 6px;
    }
    .spec {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin: 0% 3% 0.5% 2%;
        /* identical to box height, or 143% */
        display: flex;
        align-items: center;
        /* 600 */
        color: #7A7A8D;
    }
    .phone {
        width: 100%;
        height: 500px;
        margin: 1% 0 0 0;
        display: flex;
        flex-direction: row;
        .phone-image {
            width: 45%;
            height: 100%;
            border: 1px solid #a0a0a8;
            align-items: center;
        }
        .phone-image img {
            margin: 5% 0 0 30%;
        }
        .phone-description {
            width: 45%;
            margin: 0 0 0 2%;
            padding: 0 2% 0 2%;
            .phone-description-title {
                font-style: normal;
                font-weight: bold;
                font-size: 31px;
                line-height: 36px;
                color: #30303C;
                margin: 0 0 4% 0;
            }
            .phone-description-label {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                margin: 0 0 3% 0;
                /* identical to box height, or 150% */
                display: flex;
                align-items: center;
                /* 600 */
                color: #7A7A8D;
            }
            .phone-decription-standing {
                margin: 3% 0 3% 0;
                display: flex;
            }
            .phone-decription-standing-star {
                display: flex;
            }
            .phone-decription-standing-review {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #30303C;
                margin: 0 0 0 2%;
            }
            .phone-decription-standing-review span,
            a {
                color: #ED1C24;
                ;
            }
            .phone-decription-features {
                margin-top: 7%;
            }
            .phone-decription-features h1 {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
                margin: 3% 0 3% 0;
                /* identical to box height, or 133% */
                color: #000000;
            }
            .phone-decription-features-list-item {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 28px;
                color: #30303C;
                display: flex;
                flex-direction: row;
                margin-bottom: 2%;
            }
            .phone-decription-features-list-item-circle {
                margin: 1.9% 2% 0 0;
            }
        }
    }
    .action {
        display: flex;
        flex-direction: row;
        .action-phone {
            width: 35%;
            display: flex;
            flex-direction: row;
            padding: 2% 6% 2% 6%;
            .action-phone-item {
                width: 67.36px;
                height: 82px;
                margin: 0 4% 0 0;
            }
        }
        .action-pricing {
            width: 45%;
            border-bottom: 1px solid #E9E9F0;
            border-top: 1px solid #E9E9F0;
            display: flex;
            padding-top: 41px;
            justify-content: space-between;
        }
        .action-amount {
            display: flex;
            flex-direction: row;
            width: 35%;
        }
        .action-amount-prices {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .action-amount-prices-up {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            color: #ED1C24;
        }
        .action-amount-prices-bottom {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            text-decoration-line: line-through;
            color: #7A7A8D;
        }
        .action-amount-sold {
            width: 47px;
            height: 32px;
            background: #FFFFFF;
            border: 1px solid #ED1C24;
            box-sizing: border-box;
            border-radius: 3px;
            font-family: Sarabun;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #ED1C24;
            text-align: center;
            padding: 1%;
            margin-left: 1%;
        }
        .action-pricing-buttons {
            display: flex;
            flex-direction: row;
        }
        .btn1 {
            margin: 0 1% 0 2%;
            width: 200px;
            height: 48px;
            background: #F5F5FA;
            border-radius: 3px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            align-items: center;
            text-align: center;
            color: #5C5C73;
            display: flex;
            flex-direction: row;
            flex: 1;
        }
        .heart-icon {
            background: url('../../images/Vector3.svg');
            width: 20px;
            height: 17px;
            margin: 0.2% 3% 0 2%;
        }
        .btn2 {
            height: 40px;
            background: #ED1C24;
            border-radius: 3px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            padding: 2% 10% 0 10%;
            margin: 0 0 0 3%;
        }
        .btn1 :hover {
            background: #c2686b;
        }
        .btn2 :hover {
            background: #5C5C73;
            color: #F5F5FA;
        }
    }
    .sidebar {
        width: 100%;
        height: 72px;
        background: #FFFFFF;
        border: 1px solid #E9E9F0;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08), 0px 2px 2px rgba(48, 48, 60, 0.12);
        border-radius: 3px;
        margin: 5% 0 0 0;
        display: flex;
        padding-left: 20%;
    }
    .sidebar-item {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 74px;
        text-align: center;
        color: #303030;
        margin: 0 5% 0 5%;
    }
    .caracter {
        margin: 3% 2% 2% 5%;
        height: 600px;
        width: 80%;
        padding: 0 1% 0 15%;
    }
    .caracter-title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        margin-left: 5%;
        color: #30303C;
        margin-top: 5%;
    }
    .caracter-detail {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
        padding-right: 24%;
        margin-top: 4%;
        margin-bottom: 2%;
    }
    .caracter-image {
        margin-bottom: 5%;
    }
}