.product-container {
    padding: 4% 8% 4% 4%;
    margin: 2%;
    background: #FFFFFF;
    /* 200 */
    border: 1px solid #E9E9F0;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08), 0px 2px 2px rgba(48, 48, 60, 0.12);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .product-image {
        padding: 2%;
    }
    .product-brand {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #30303C;
        margin-bottom: 2%;
    }
    .product-name {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #30303C;
        margin-bottom: 2%;
        height: 3%;
    }
    .product-prices {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4%;
    }
    .prices {
        width: 60%;
    }
    .new-price {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: $primary-color;
    }
    .old-price {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: line-through;
    }
    .discount {
        font-family: Sarabun;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $primary-color;
        border: 1px solid $primary-color;
        box-sizing: border-box;
        border-radius: 3px;
        height: 100%;
        width: 17%;
        text-align: center;
    }
    .ratings {
        display: none;
        justify-content: space-between;
        margin-bottom: 5%;
    }
    .rating {
        display: flex;
    }
    .starOff {
        background: url('../../images/starOff.png');
        width: 17px;
        height: 16px;
    }
    .starOn {
        background: url('../../images/starOn.png');
        width: 17px;
        height: 16px;
    }
    .rating-text {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #30303C;
    }
    .buttons {
        display: none;
        justify-content: space-around;
    }
    .by-now {
        width: 97px;
        height: 32px;
        background: $primary-color;
        border-radius: 3px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        box-shadow: none;
        border: none;
    }
    .know-more {
        width: 97px;
        height: 32px;
        left: 205px;
        top: 1054px;
        background: #F5F5FA;
        border-radius: 3px;
        box-shadow: none;
        border: none;
    }
}

.product-container:hover {
    .buttons {
        display: flex;
    }
}

.product-container:hover {
    width: 23%;
    position: absolute;
    z-index: 1;
    padding: 2% 4% 2% 2%;
    .buttons {
        display: flex;
    }
    .ratings {
        display: flex;
    }
}