<div class="product-detail-container">
    <div class="spec">
        Home > Smartphomes > iPhones > Apple iPhone 6 64GB HDD ...
    </div>
    <div class="phone">
        <div class="phone-image">
            <img src="../../../assets/images/image2.png" alt="">

        </div>
        <div class="phone-description">
            <div class="phone-description-title">{{name}}</div>
            <div class="phone-description-label">{{brand}}</div>
            <div class="phone-decription-standing">
                <div class="phone-decription-standing-star">
                    <div class="starOn"></div>
                    <div class="starOn"></div>
                    <div class="starOn"></div>
                    <div class="starOn"></div>
                    <div class="starOff"></div>
                </div>
                <div class="phone-decription-standing-review"> 4.0 (<span> reviews</span> ) <a href="">Leave a review</a></div>

            </div>
            <div class="phone-decription-features">
                <h1>Key Features</h1>
                <div class="phone-decription-features-list">
                    <div class="phone-decription-features-list-item">
                        <div class="phone-decription-features-list-item-circle circle"></div>Display: 4.7’’,IPS LED-backlit 750 x 1334 pixels</div>
                    <div class="phone-decription-features-list-item">
                        <div class="phone-decription-features-list-item-circle circle"></div>Memory: 64GB HDD, 1GB RAM</div>
                    <div class="phone-decription-features-list-item">
                        <div class="phone-decription-features-list-item-circle circle"></div>Camera: 8MP Rear, 1.2MP</div>
                    <div class="phone-decription-features-list-item">
                        <div class="phone-decription-features-list-item-circle circle"></div>
                        Operating System: iOS 8 upgradable to iOS 10.3.3</div>
                    <div class="phone-decription-features-list-item">
                        <div class="phone-decription-features-list-item-circle circle"></div>Processor: Dual-Core 1.4GHz</div>
                </div>
            </div>

        </div>

    </div>
    <div class="action">
        <div class="action-phone">
            <div class="action-phone-item">
                <img src="../../../assets/images/image2.1.png" alt="">
            </div>
            <div class="action-phone-item">
                <img src="../../../assets/images/image2.2.png" alt="">
            </div>
            <div class="action-phone-item">
                <img src="../../../assets/images/image2.3.png" alt="">
            </div>
            <div class="action-phone-item">
                <img src="../../../assets/images/image2.4.png" alt="">
            </div>
        </div>
        <div class="action-pricing">
            <div class="action-amount">
                <div class="action-amount-prices">
                    <div class="action-amount-prices-up">159,900 FCFA</div>
                    <div class="action-amount-prices-bottom">250,000 FCFA</div>
                </div>
                <div class="action-amount-sold">38%</div>
            </div>
            <div class="action-pricing-buttons">
                <div class="btn1">
                    <div class="heart-icon"></div> Save for later</div>
                <div class="btn2">Buy now</div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar-item">
            Description
        </div>
        <div class="sidebar-item">
            Reviews
        </div>
        <div class="sidebar-item">
            Specifications
        </div>
        <div class="sidebar-item">
            Return policies
        </div>
    </div>

    <div class="caracter">
        <div class="caracter-title">High Performance A8 Chip</div>
        <div class="caracter-detail">The all-new A8 chip in Apple iPhone 6 64GB HDD Smartphone is designed to be power efficient and the fastest yet. The A8 chip can sustain higher performances so you can play graphics-intensive games or enjoy video at higher frame rates for longer
            than ever while powering a larger display and incredible new features.</div>
        <div class="caracter-image"><img src="../../../assets/images/image3.1.png" alt=""></div>
    </div>
    <div class="caracter">
        <div class="caracter-title">Touch ID</div>
        <div class="caracter-detail">Touch the Apple iPhone 6 64GB HDD Smartphone and watch as the surrounding stainless steel ring detects your finger and wakes the capacitive touch sensor.The software then reads the ridges of your fingerprint and finds the match to unlock your
            phone.
        </div>
        <div class="caracter-image"><img src="../../../assets/images/image3.2.png" alt=""></div>
    </div>
    <div class="caracter">
        <div class="caracter-title">iSight camera</div>
        <div class="caracter-detail">The iSight camera in Apple iPhone 6 64GB HDD Smartphone features an Apple-designed video encoder and image signal processor built into the A8 chip. They support advanced camera and video features, like new Focus Pixels, better face detection,
            continuous autofocus, and enhanced noise reduction, so it’s easier to shoot higher-quality photos and videos. The perfect phone for a perfect picture.</div>
        <div class="caracter-image"><img src="../../../assets/images/image3.3.png" alt=""></div>
    </div>
</div>