<div class="footer-container">
    <div class="menu">
        <div class="links">
            <div class="links-title">Customer service</div>
            <div class="links-column">
                <div class="link"><a href="#">My orders</a></div>
                <div class="link"><a href="#">Payments</a></div>
                <div class="link"><a href="#">Refunds and returns</a></div>
                <div class="link"><a href="#">Shipping</a></div>
                <div class="link"><a href="#">Help center</a></div>

            </div>
        </div>
        <div class="links">
            <div class="links-title">Get to know us</div>
            <div class="links-column">
                <div class="link"><a href="#">About Onet Mobile</a> </div>
                <div class="link"><a href="#">Investor relations</a> </div>
                <div class="link"><a href="#">Terms and conditions</a></div>
                <div class="link"><a href="#">Privacy policy</a></div>
                <div class="link"><a href="#">Contact us</a></div>

            </div>
        </div>
        <div class="links">
            <div class="links-title">Payment methods</div>
            <div class="logs"> <img src="../../../assets/images/Visa_Logo(1).svg" alt="">
                <img class="img" src="../../../assets/images/bul.svg" alt=""></div>
            <div class="links-title">Social media</div>


            <div class="links-column">
                <div class="link"><a href="">Facebook</a> </div>
                <div class="link"><a href="">Twitter</a> </div>

            </div>
        </div>
        <div class="links">
            <div class="links-title">Contacts</div>

            <div class="link-text">+242 06 908 3535</div>
            <br>
            <div class="link-text">Mon-Fri &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 08:00 AM – 05:00 PM</div>
            <div class="link-text">Sat-Sun &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 08:00 AM – 02:00 PM</div>
            <br>
            <div class="link-text">10 avenue Nelson Mandela </div>
            <div class="link-text">Brazzaville 1414</div>
        </div>
    </div>
    <div class="copyright"></div>
</div>