<div class="product-container">



    <div class="product-image"><img src={{phone.otherImages[0]}} alt=""></div>
    <div class="product-brand">{{phone.brand}}</div>
    <div class="product-name">{{phone.name}}</div>
    <div class="product-prices">
        <div class="prices">
            <div class="new-price">{{(phone.prices.price*phone.prices.discount)/100|number}}&nbsp; FCFA</div>
            <div class="old-price">{{phone.prices.price|number }}&nbsp; FCFA</div>
        </div>
        <div class="discount">-{{phone.prices.discount}}%</div>
    </div>
    <div class="ratings">
        <div class="rating">
            <div class="starOn"></div>
            <div class="starOn">
            </div>
            <div class="starOn"></div>
            <div class="starOn"></div>
            <div class="starOff"></div>
        </div>
        <div class="rating-text">
            {{phone.ratings.rating}}.0 ({{phone.ratings.reviews}} reviews) </div>
    </div>
    <div class="buttons">
        <button class="by-now">By now</button>
        <button class="know-more" (click)="navigate()">Know more</button>
    </div>
</div>