<div class="checkout-3-container">
  <div class="header">
    <div class="logo">
      <img src="assets/images/onet-logo.png" alt="logo" />
      <h4>Checkout</h4>
    </div>
    <div class="contacts">
      <div class="number-to-call">
        <img src="assets/images/checkout-utiles/call.svg" alt="call" />
        <div>
          <h4>Have problems?</h4>
          <h3>+242 06 908 3535</h3>
        </div>
      </div>
      <div class="secure-payment">
        <img src="assets/images/checkout-utiles/secure.svg" alt="call" />

        <h3>Secure payment</h3>
      </div>
      <div class="easy-returns">
        <img src="assets/images/checkout-utiles/return.svg" alt="call" />

        <h3>easy returns</h3>
      </div>
    </div>
  </div>
  <div class="order-checkout">
    <div class="form-order">
      <h2>
        <img src="assets/images/checkout-utiles/sideicon.svg" alt="icon" /> 1:
        contact
      </h2>
      <div class="step-one-done">
        <p>Franck Libam, +243 336 364 833, franck@gmail.com</p>
        <button>edith info</button>
      </div>
      <div class="step-2">
        <h4 class="step2-heading">2. Address and delivery</h4>
        <h6>How do you want your order delivered?</h6>

        <h4 class="standard-delivery">
          <img src="assets/images/checkout-utiles/Ellipse.svg" alt="" />
          <span>Standard delivery</span>
        </h4>
        <p class="delivery-date">
          Will be delivered between Tuesday 29 Jan and Tuesday 5 Feb
        </p>
        <p class="amount">From 3000 FCFA</p>
        <div class="location">
          <div class="state-region">
            <div class="state">
              <label for="state">state</label>
              <select name="state" id="state">
                select state
              </select>
            </div>
            <div class="region">
              <label
                for="region">region</label>
              <select name="region" id="region">
                select state
              </select>
            </div>
          </div>
          <div class="address">
              <label for="address">address</label>
              <textarea name="" id="" cols="10" rows="5"></textarea>
          </div>
          <button class="next-step-btn">Proceed to next step</button>
        </div>
      </div>
    </div>
    <div class="order-list">
      <div class="order-list-header">
        <h3>Order summary</h3>
        <button>Edit order</button>
      </div>

      <!-- order item -->
      <div class="order-item">
        <div class="order-image">
          <img src="assets/images/checkout-utiles/image2.png" alt="" />
        </div>
        <div class="order-item-description">
          <h4>
            Apple iPhone 6 64GB HDD - 12 Months + Cover + Screen Protector
            Offered
          </h4>
          <div class="price-and-total">
            <p class="order-quantity">1 <span>psc</span></p>
            <p class="order-price">1159,900 <span>FCFA </span></p>
          </div>
        </div>
      </div>
      <div class="order-item">
        <div class="order-image">
          <img src="assets/images/checkout-utiles/image2.png" alt="" />
        </div>
        <div class="order-item-description">
          <h4>
            Apple iPhone 6 64GB HDD - 12 Months + Cover + Screen Protector
            Offered
          </h4>
          <div class="price-and-total">
            <p class="order-quantity">1 <span>psc</span></p>
            <p class="order-price">1159,900 <span>FCFA </span></p>
          </div>
        </div>
      </div>
      <div class="total">
        <h4>total:</h4>
        <p>359,800 FCFA</p>
      </div>
    </div>
  </div>
  <div class="next-step-div">
    <h4>3. Payment</h4>
  </div>
</div>
