<div class="checkout-1-container">
  <div class="header">
    <div class="logo">
      <img src="assets/images/onet-logo.png" alt="logo" />
      <h4>Checkout</h4>
    </div>
    <div class="contacts">
      <div class="number-to-call">
        <img src="assets/images/checkout-utiles/call.svg" alt="call" />
        <div>
          <h4>Have problems?</h4>
          <h3>+242 06 908 3535</h3>
        </div>
      </div>
      <div class="secure-payment">
        <img src="assets/images/checkout-utiles/secure.svg" alt="call" />

        <h3>Secure payment</h3>
      </div>
      <div class="easy-returns">
        <img src="assets/images/checkout-utiles/return.svg" alt="call" />

        <h3>easy returns</h3>
      </div>
    </div>
  </div>
  <div class="order-checkout">
    <div class="form-order">
      <div class="checkout-signup-container">
        <h2>1: contact</h2>
        <div class="costumer-type-btn">
          <button routerLink="checkout2">I’m a new customer</button>
          <button routerLink="/">I’m existing customer</button>
        </div>
        <div class="checkout-signup-form">
          <form action="">
            <div class="names">
              <div class="first-name">
                <label for="first-name">first name</label>
                <input type="text" id="first-name" />
              </div>
              <div class="last-name">
                <label for="last-name">last name</label>
                <input type="text" id="last-name" />
              </div>
            </div>
            <div class="telephone">
              <label for="telephone">telephone</label>
              <input type="text" id="telephone" />
            </div>
            <div class="email">
              <label for="email">email</label>
              <input type="text" id="email" />
            </div>
            <button class="checkout-btn">Proceed to next step</button>
          </form>
        </div>
      </div>
    </div>
    <div class="order-list">
      <div class="order-list-header">
        <h3>Order summary</h3>
        <button>Edit order</button>
      </div>


      <!-- order item -->
      <div class="order-item">
        <div class="order-image">
          <img src="assets/images/checkout-utiles/image2.png" alt="" />
        </div>
        <div class="order-item-description">
          <h4>
            Apple iPhone 6 64GB HDD - 12 Months + Cover + Screen Protector
            Offered
          </h4>
          <div class="price-and-total">
            <p class="order-quantity">1 <span>psc</span></p>
            <p class="order-price">1159,900 <span>FCFA </span></p>
          </div>
        </div>
      </div>
      <div class="order-item">
        <div class="order-image">
          <img src="assets/images/checkout-utiles/image2.png" alt="" />
        </div>
        <div class="order-item-description">
          <h4>
            Apple iPhone 6 64GB HDD - 12 Months + Cover + Screen Protector
            Offered
          </h4>
          <div class="price-and-total">
            <p class="order-quantity">1 <span>psc</span></p>
            <p class="order-price">1159,900 <span>FCFA </span></p>
          </div>
        </div>
      </div>
      <div class="total">
          <h4>total:</h4>
          <p>359,800 FCFA</p>
      </div>
    </div>
  </div>
<div class="next-step">
    <h4>2. Address and delivery</h4>
    <h4>3. Payment</h4>

</div>
</div>
