<div class="home-container">
    <div class="banner">
        <div class="home-catalog">
            <div class="items">
                <div class="items-item" *ngFor="let value of items">
                    <div class="item-logo"><img src={{value.path}} alt=""></div>
                    <div class="item-text"><a href="#">{{value.name}}</a></div>
                </div>

            </div>
            <div class="arrivals">
                <div class="arrivals-text">New arrivals</div>
                <div class="arrivals-item" *ngFor="let value of arrivals">
                    <div class="arrival-logo"><img src={{value.path}} alt=""></div>
                    <div class="arrival-text"><a href="#">{{value.name}}</a></div>
                </div>
            </div>

        </div>
        <div class="hero"></div>

        <div class="info">
            <div class="info-top">
                <div class="about" *ngFor="let value of info">
                    <div class="info-logo"><img src={{value.path}} alt=""></div>
                    <div class="info-text">
                        <div class="text-name">{{value.name}}</div>
                        <div class="text-value"><a href="">{{value.value}}</a></div>
                    </div>
                </div>

            </div>
            <div class="info-bottom">
                <div class="article-title">Trending article</div>
                <div class="article-content">
                    <div class="article-image"><img src="../../assets/images/image 2(2).png" alt=""></div>
                    <div class="article-text">
                        <div class="article-text-content"> <a href=""> New iPhones presentation gone not as planned ...</a></div>
                        <div class="article-text-date">21 Jan 2019</div>
                    </div>
                </div>

            </div>


        </div>
    </div>


    <div class="brand">
        <div *ngFor="let value of brand" class={{value.class}}><img src={{value.path}} alt=""></div>
    </div>
    <div class="best-sellers">
        <div class="best-sellers-text">
            <div class="best-sellers-title">Best sellers</div>
            <div class="best-sellers-link"><a href="#">All best sellers</a></div>
        </div>

        <div class="products">
            <div class="product" *ngFor="let value of phones">
                <onet-product [phone]="value"></onet-product>
            </div>
        </div>
    </div>
    <div class="banner-place">
        Banner place
    </div>
    <div class="best-sellers">
        <div class="best-sellers-text">
            <div class="best-sellers-title">On sale</div>
            <div class="best-sellers-link"><a href="#">All on sale</a></div>
        </div>

        <div class="products">
            <div class="product" *ngFor="let value of phones">
                <onet-product [phone]="value"></onet-product>
            </div>
        </div>
    </div>

    <div class="search-banner">
        <input type="search" placeholder="Your email">
        <button>Send</button>
    </div>
    <div class="best-sellers">
        <div class="best-sellers-text">
            <div class="best-sellers-title">New arrivals</div>
            <div class="best-sellers-link"><a href="#">All new arrivals</a></div>
        </div>

        <div class="products">
            <div class="product" *ngFor="let value of phones">
                <onet-product [phone]="value"></onet-product>
            </div>
        </div>
    </div>

    <div class="tips">
        <div *ngFor="let value of tips" class={{value.class}}><img src={{value.path}} alt="">
            <div class="tips-text">{{value.value}}</div>
        </div>
    </div>

    <div class="seo">
        <div class="seo-title">SEO Text</div>
        <div class="seo-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
    </div>

</div>