<!-- <div class="cart-modal-container">
    <div class="cart-title">Your cart</div>
    <div class="cart-modal">
        <div class="cart-img">22</div>
        <div class="info-cart">
            <div class="cart-name">bjxjx</div>
            <div class="cart-price">159,900 FCFA</div>
            <div class="remove-card">zz</div>
        </div>
        <div class="input-increase-decrease"></div>
        <div class="cart-price">159,900 FCFA</div>
    </div>

</div> -->

<div class="cart-modal-container">
    <div class="cart-modal">
        <div class="cart-img"></div>
        <div class="cart-infos">
            <div class="cart-name">Apple iPhone 6 64GB HDD - 12 Months + Cover + Screen ...</div>
            <div class="cart-price">250,000 FCFA 159,900 FCFA</div>
            <div class="remove-card">Remove from cart</div>
        </div>
        <div class="input-decrease-increase">
            <form>
                <div class="value-button" id="decrease" value="Decrease Value">-</div>
                <input class="inputed" type="number" id="number" value="0" />
                <div class="value-button" id="increase" value="Increase Value">+</div>
            </form>
        </div>

        <div class="price-cart">159,900 FCFA</div>
    </div>
    <div class="cart-modal1">
        <div class="total-price">Total:</div>
        <div class="price-cart">159,900 FCFA</div>
    </div>
</div>